flows.json
[{"id":"dc7a565de9a7c6a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"86fb6c06e7daa786","type":"random","z":"dc7a565de9a7c6a8","name":"Motor Temperture","low":"20","high":"30","inte":"false","property":"payload","x":370,"y":560,"wires":[["04610ad681afaa69"]]},{"id":"a5b81cc64b890cc8","type":"inject","z":"dc7a565de9a7c6a8","name":"Data Load Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":560,"wires":[["86fb6c06e7daa786"]]},{"id":"04610ad681afaa69","type":"function","z":"dc7a565de9a7c6a8","name":"Set Motor Temp","func":"flow.set('MotorTemperature_C',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":640,"wires":[["9cf7a36c28a12b7e"]]},{"id":"d18cca16c3aa448d","type":"random","z":"dc7a565de9a7c6a8","name":"ODO Miles","low":"800","high":"950","inte":"false","property":"payload","x":950,"y":560,"wires":[["391823437fad6597"]]},{"id":"391823437fad6597","type":"function","z":"dc7a565de9a7c6a8","name":"Set ODO_Miles","func":"flow.set('ODO_Miles',msg.payload);\nmsg.payload = {'ODO_Miles':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":640,"wires":[["224bbeba42bc087b"]]},{"id":"224bbeba42bc087b","type":"function","z":"dc7a565de9a7c6a8","name":"Prepare Payload","func":"msg.payload = {\"Time\":4.59,\"Power\":126.663025,\"SoC\":90,\"ODO_Miles\":flow.get(\"ODO_Miles\"),\"RPM\":70.287476,\"Speed_MPH\":0.522210211,\"Throttle\":flow.get(\"ThrottleValue\"),\"RideMode\":3,\"ThrottleVoltage_mv\":1536,\"BatteryTemperature_C\":25,\"MotorTemperature_C\":flow.get(\"MotorTemperature_C\")};\nmsg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":560,"wires":[["1f89a8b678401b2c"]]},{"id":"a3a553e5d099cdb6","type":"debug","z":"dc7a565de9a7c6a8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":620,"wires":[]},{"id":"1f89a8b678401b2c","type":"json","z":"dc7a565de9a7c6a8","name":"JSON format ","property":"payload","action":"obj","pretty":false,"x":1430,"y":560,"wires":[["a3a553e5d099cdb6","f9f01db8235e95e6"]]},{"id":"f9f01db8235e95e6","type":"http request","z":"dc7a565de9a7c6a8","name":"Data Load","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"838fb4709f73cf5e","persist":false,"proxy":"","authType":"basic","credentials":{"user":"","password":""},"x":1650,"y":480,"wires":[[]]},{"id":"9cf7a36c28a12b7e","type":"random","z":"dc7a565de9a7c6a8","name":"Throttle Value","low":"20","high":"30","inte":"false","property":"payload","x":660,"y":560,"wires":[["20638c23499443d5"]]},{"id":"20638c23499443d5","type":"function","z":"dc7a565de9a7c6a8","name":"Set Throttle Value","func":"flow.set('ThrottleValue',msg.payload);\nmsg.payload = {'ThrottleValue':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":640,"wires":[["d18cca16c3aa448d"]]},{"id":"838fb4709f73cf5e","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.pem","servername":"masdev.messaging.iot.inst1.itzroks-663003cr67-d3sb23-6ccd7f378ae819553d37d5f2ee142bd6-0000.eu-de.containers.appdomain.cloud","verifyservercert":true,"alpnprotocol":""}]